<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 采用注释的方式配置bean -->
    <context:annotation-config/>
    <!-- 配置要扫描的包 -->
    <context:component-scan base-package="game,middleware,spring"/>

    <!--&lt;!&ndash; 配置数据源 &ndash;&gt;-->
    <!--<bean id="ds" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">-->

        <!--&lt;!&ndash; 配置连接参数 &ndash;&gt;-->
        <!--<property accountId="jdbcUrl" value="jdbc:mysql://localhost:3306/miniServer?characterEncoding=utf8"/>-->
        <!--<property accountId="driverClass" value="com.mysql.jdbc.Driver"/>-->
        <!--<property accountId="userEnt" value="root"/>-->
        <!--<property accountId="password" value="root"/>-->

        <!--&lt;!&ndash; 配置连接池 &ndash;&gt;-->
        <!--<property accountId="initialPoolSize" value="10"/>-->
        <!--<property accountId="maxPoolSize" value="30"/>-->
        <!--<property accountId="minPoolSize" value="1"/>-->
        <!--<property accountId="acquireIncrement" value="3"/>-->
        <!--<property accountId="maxIdleTime" value="60"/>-->

    <!--</bean>-->

    <!--&lt;!&ndash; 配置SessionFactory &ndash;&gt;-->
    <!--<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">-->

        <!--&lt;!&ndash; 依赖数据源 &ndash;&gt;-->
        <!--<property accountId="dataSource" ref="ds"/>-->
        <!--&lt;!&ndash; Hibernate框架相关配置 &ndash;&gt;-->
        <!--<property accountId="hibernateProperties">-->
            <!--<props>-->
                <!--<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>-->
                <!--<prop key="hibernate.show_sql">true</prop>-->
                <!--<prop key="hibernate.formate_sql">true</prop>-->
                <!--<prop key="hibernate.hbm2ddl">update</prop>-->
            <!--</props>-->
        <!--</property>-->

    <!--</bean>-->

</beans>
